[Unit]
Description=Communication with Tecalor/Stiebel Eltron TTL AC 10 heat pump over CAN bus. The data is exchanged via MQT>
After=network.target
# This file needs to exist in the /etc/systemd/system/ directory

[Service]
ExecStart=/root/HeatingMqttService/HeatingMqttService
Restart=always
RestartSec=10
SyslogIdentifier=HeatingDaemon
User=root
Environment=ASPNETCORE_ENVIRONMENT=Development
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=DOTNET_ROOT=/root/.dotnet
Environment=PATH=/root/.dotnet:$PATH

[Install]
WantedBy=multi-user.target
